<div>
  <div style="padding-left: 40px; padding-top: 20px">
    <img src='../../assets/photos/booth/booth.svg'>
    <span style="font-size: 20px; font-weight: bolder; color: #690f0f; margin-left: 10px;">Booth</span>
  </div>

  <div class="booth-container">
    <div class="booth-item">
      <div class="d-flex justify-content-center" style="margin-bottom: -30px">
        <img src='../../assets/photos/booth/total-booths.svg' style="width: 70px; z-index: 1;">
      </div>
      <div class="d-flex justify-content-center">
        <div style="background-color: #FFFFFF;height: 209px; width: 186px; border-radius: 30px; font-weight: bold;">
          <p class="d-flex justify-content-center" style="margin-top: 70px">Total Booth</p>
          <p class="d-flex justify-content-center" style="font-size: 40px">20</p>
        </div>
      </div>
    </div>
    <div class="booth-item">
      <div class="d-flex justify-content-center" style="margin-bottom: -30px">
        <img src='../../assets/photos/booth/booth-assigned.svg' style="width: 70px; z-index: 1;">
      </div>
      <div class="d-flex justify-content-center">
        <div style="background-color: #FFFFFF; height: 209px; width: 186px; border-radius: 30px; font-weight: bold;">
          <p class="d-flex justify-content-center" style="margin-top: 70px">Booth Assigned</p>
          <p class="d-flex justify-content-center" style="font-size: 40px">12</p>
        </div>
      </div>
    </div>
    <div class="booth-item">
      <div class="d-flex justify-content-center" style="margin-bottom: -30px">
        <img src='../../assets/photos/booth/booth-president-appointed.svg' style="width: 70px; z-index: 1;">
      </div>
      <div class="d-flex justify-content-center">
        <div style="background-color: #FFFFFF; height: 209px; width: 186px; border-radius: 30px; font-weight: bold;">
          <p style="margin-left: 20px; margin-top: 70px">Booth President Appointed</p>
          <p class="d-flex justify-content-center" style="font-size: 40px">14</p>
        </div>
      </div>
    </div>
    <div class="booth-item">
      <div class="d-flex justify-content-center" style="margin-bottom: -30px">
        <img src='../../assets/photos/booth/general-secretary.svg' style="width: 70px; z-index: 1;">
      </div>
      <div class="d-flex justify-content-center">
        <div style="background-color: #FFFFFF; height: 209px; width: 186px; border-radius: 30px; font-weight: bold;">
          <p class="d-flex justify-content-center" style="margin-top: 70px">General Secretary</p>
          <p class="d-flex justify-content-center" style="font-size: 40px">14</p>
        </div>
      </div>
    </div>
    <div class="booth-item">
      <div class="d-flex justify-content-center" style="margin-bottom: -30px">
        <img src='../../assets/photos/booth/bla.svg' style="width: 70px; z-index: 1;">
      </div>
      <div class="d-flex justify-content-center">
        <div style="background-color: #FFFFFF; height: 209px; width: 186px; border-radius: 30px; font-weight: bold;">
          <p class="d-flex justify-content-center" style="margin-top: 70px">BLA</p>
          <p class="d-flex justify-content-center" style="font-size: 40px">06</p>
        </div>
      </div>
    </div>
  </div>
</div>



