<div>
  <div style="padding-left: 40px; padding-top: 20px">
    <img src='../../assets/photos/booth/booth.svg'>
    <span style="font-size: 20px; font-weight: bolder; color: #690f0f; margin-left: 10px;">Booth</span>
  </div>

  <div class="booth-container">
    <div class="panna" *ngFor="let booth of booths">
      <div class="panna-item">
        <img src='{{ booth.image }}' class="img">
      </div>
      <div class="panna-item" style="font-weight: bolder; color: #0000007a;">{{ booth.text }}</div>
      <div class="panna-item" style="font-size: 25px; font-weight: bold;">{{ booth.count }}</div>
    </div>
  </div>

</div>



