<div class="bg" style="height: 100vh">
  <div class="d-flex justify-content-center">
    <div class="shadow-lg" style="margin-top: 100px; padding: 70px; border-radius: 15px; z-index: 0; background-color: floralwhite">
      <h1 class="d-flex justify-content-center" style="margin-bottom: 40px">Login</h1>
      <form>
        <div class="form-group m-4">
          <label class="mb-1">Email Address</label>
          <input type="text" class="form-control" style="border-radius: 15px">
        </div>

        <div class="form-group m-4">
          <label class="mb-1">Password</label>
          <input type="password" class="form-control" style="border-radius: 15px">
        </div>

        <div class="form-group m-4">
          <label><input type="checkbox" style="margin-right: 5px">Remember me</label>
        </div>

        <div class="form-group m-4">
          <button type="submit" class="btn btn-primary" style="padding: 10px 110px; border-radius: 15px">Submit</button>
        </div>
      </form>
      <a href="#" class="d-flex justify-content-center">Forgot password</a>
    </div>
  </div>
</div>
