<div class="m-5">
  <span class="shadow"
        style="background-color:  #FFFFFF;  color: rgba(0,0,0,0.45); font-weight: bolder; padding: 15px 50px; border-radius: 10px">Total Data - 5</span>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th style="border-top-left-radius: 20px">S. No.</th>
      <th>Booth Vistarak Name</th>
      <th>Mobile No.</th>
      <th>Zila</th>
      <th>AC Name</th>
      <th>Mandal</th>
      <th>Assigned Booth</th>
      <th>Booth President</th>
      <th>General Secretary</th>
      <th>BLA</th>
      <th>Member</th>
      <th>Total Panna</th>
      <th>Panna Samiti Member</th>
      <th>Panna Pramukh</th>
      <th style="border-top-right-radius: 20px">Key Voter</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1.</td>
      <td>Yatin</td>
      <td>8888800000</td>
      <td>Morena</td>
      <td>Joura</td>
      <td>253; 252; 29</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>21</td>
      <td>21</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>2.</td>
      <td>Yatin</td>
      <td>8888800000</td>
      <td>Morena</td>
      <td>Joura</td>
      <td>253; 252; 29</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>21</td>
      <td>21</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>3.</td>
      <td>Yatin</td>
      <td>8888800000</td>
      <td>Morena</td>
      <td>Joura</td>
      <td>253; 252; 29</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>21</td>
      <td>21</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>4.</td>
      <td>Yatin</td>
      <td>8888800000</td>
      <td>Morena</td>
      <td>Joura</td>
      <td>253; 252; 29</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>21</td>
      <td>21</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <td>5.</td>
      <td>Yatin</td>
      <td>8888800000</td>
      <td>Morena</td>
      <td>Joura</td>
      <td>253; 252; 29</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>21</td>
      <td>21</td>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr >
      <td>6.</td>
      <td>Yatin</td>
      <td>8888800000</td>
      <td>Morena</td>
      <td>Joura</td>
      <td>253; 252; 29</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>21</td>
      <td>21</td>
      <td>1</td>
      <td>1</td>
    </tr>
    </tbody>
  </table>
</div>

