<div id="table-form" *ngIf="flag" class="table-form">
  <form class="row">
    <div class="col-6">
    <div class="form-group" style="margin: 10px 0">
      Name: <input type="text" class="form-control" id="name" aria-describedby="emailHelp" value="" placeholder="Enter name">
    </div>
    <div class="form-group">
      Mobile No.: <input type="text" class="form-control" id="mobile" aria-describedby="emailHelp" value="" placeholder="Enter mobile number">
    </div>
    </div>

    <div class="col-6">
    <div class="form-group" style="margin: 10px 0">
      Zila: <input type="text" class="form-control" id="zila" aria-describedby="emailHelp" value="" placeholder="Enter zila name">
    </div>
    <div class="form-group">
      AC_Name : <input type="text" class="form-control" id="ac_name" aria-describedby="emailHelp" value="" placeholder="Enter ac name">
    </div>
    </div>

    <div class="d-flex justify-content-center mt-5"><button type="submit" class="btn btn-primary" (click)="updateData()">Update</button></div>
  </form>
</div>

<div class="m-5">
  <span class="shadow"
        style="background-color:  #FFFFFF;  color: rgba(0,0,0,0.45); font-weight: bolder; padding: 15px 50px; border-radius: 10px">Total Data - 5</span>
</div>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th style="border-top-left-radius: 20px">S. No.</th>
      <th>Booth Vistarak Name</th>
      <th>Mobile No.</th>
      <th>Zila</th>
      <th>AC Name</th>
      <th>Mandal</th>
      <th>Assigned Booth</th>
      <th>Booth President</th>
      <th>General Secretary</th>
      <th>BLA</th>
      <th>Member</th>
      <th>Total Panna</th>
      <th>Panna Samiti Member</th>
      <th>Panna Pramukh</th>
      <th>Key Voter</th>
      <th style="border-top-right-radius: 20px">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let table of total_data">
      <td>{{ table.count }}</td>
      <td>{{ table.name }}</td>
      <td>{{ table.mobile }}</td>
      <td>{{ table.zila }}</td>
      <td>{{ table.ac_name }}</td>
      <td>{{ table.mandal}}</td>
      <td>{{ table.assigned_booth }}</td>
      <td>{{ table.booth_president }}</td>
      <td>{{ table.general_secretary }}</td>
      <td>{{ table.bla }}</td>
      <td>{{ table.member }}</td>
      <td>{{table.total_panna }}</td>
      <td>{{ table.panna_samiti_member }}</td>
      <td>{{ table.panna_pramukh }}</td>
      <td>{{ table.key_voter }}</td>
      <td>
        <div class="d-flex">
          <button class="btn btn-primary" style="margin: 0 5px" (click)="editData(this.table.count)">Edit</button>
          <button class="btn btn-danger" (click)="deleteData(this.table.count)">Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>

