.table th {
  color: #FFFFFF;
  background-color: #690f0f;
  font-size: 15px;
  font-weight: normal;
}

.table-form {
  background-color: rgba(31,212,175,0.27);
  padding: 10px;
  border-radius: 10px;
}


