<!--<div class="container" style="margin-top: 20px">-->
<!--  <div>-->
<!--    <div class="d-flex">-->
<!--      <div><img src="../assets/photos/speedometer.png" style="height: 30px"></div>-->
<!--      <div class="performance">Performance Report</div>-->
<!--    </div>-->
<!--    <div class="d-flex mx-lg-5 ">-->
<!--      <p class="performance-text">Performance Report</p>-->
<!--      <p class="performance-text"><i class="fa fa-angle-right"></i></p>-->
<!--      <p class="performance-text" style="color: orange">Booth Vistarak</p>-->
<!--    </div>-->
<!--  </div>-->
<!--  <app-angular-tab></app-angular-tab>-->
<!--  <app-performance-report></app-performance-report>-->
<!--  <app-angular-form></app-angular-form>-->
<!--  <app-booth></app-booth>-->
<!--  <app-panna></app-panna>-->
<!--  <app-key-voters></app-key-voters>-->
<!--  <app-total-data></app-total-data>-->
<!--</div>-->

<!--<app-performance-report></app-performance-report>-->

<div class="header">
  <h1>Chania</h1>
</div>

<div class="row">
  <div class="col-3 col-s-3 menu">
    <ul>
      <li>The Flight</li>
      <li>The City</li>
      <li>The Island</li>
      <li>The Food</li>
    </ul>
  </div>

  <div class="col-6 col-s-9">
    <h1>The City</h1>
    <p>Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.</p>
  </div>

  <div class="col-3 col-s-12">
    <div class="aside">
      <h2>What?</h2>
      <p>Chania is a city on the island of Crete.</p>
      <h2>Where?</h2>
      <p>Crete is a Greek island in the Mediterranean Sea.</p>
      <h2>How?</h2>
      <p>You can reach Chania airport from all over Europe.</p>
    </div>
  </div>
</div>

<div class="footer">
  <p>Resize the browser window to see how the content respond to the resizing.</p>
</div>
