

<div class="d-flex p-0" style="background-color: #FFFFFF; border-radius: 20px">
  <form class="m-5">
    <mat-form-field appearance="outline" class="mat-label-color">
      <mat-label>Select Date Range</mat-label>
      <mat-select>
        <mat-option>Zila-1</mat-option>
        <mat-option>Zila-2</mat-option>
        <mat-option>Zila-3</mat-option>
        <mat-option>Zila-4</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <form class="m-5">
    <mat-form-field appearance="outline">
      <mat-label>Select Zila</mat-label>
      <mat-select>
        <mat-option>Zila-1</mat-option>
        <mat-option>Zila-2</mat-option>
        <mat-option>Zila-3</mat-option>
        <mat-option>Zila-4</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <form class="m-5">
    <mat-form-field appearance="outline">
      <mat-label>Select Vidhan Sabha</mat-label>
      <mat-select>
        <mat-option>Zila-1</mat-option>
        <mat-option>Zila-2</mat-option>
        <mat-option>Zila-3</mat-option>
        <mat-option>Zila-4</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</div>
