.barChart {
  height: 300px;
  width: 400px;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
}

.doughnutChart {
  height: 600px;
  width: 400px;
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
}

.text-font {
  font-size: 25px;
  font-weight: bold;
}

.text-style {
  font-size: 20px;
  font-weight: bold;
  color: rgba(85,85,85,0.6)
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 320px;
  max-width: 800px;
}

.highcharts-figure {
  background: #FFFFFF;
  border-radius: 20px;
  margin: 10px;
}

/*#container {*/
/*  height: 350px;*/
/*}*/

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}

