<div style="font-size: 20px; font-weight: bolder; color: #690f0f; margin-left: 10px;">Key Voters</div>
<div class="row" style="margin: 20px auto">
  <div class="d-flex col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12 m-2">
    <div class="shadow first"></div>
    <div class="shadow second">
      <div class="m-2">
        <h6>Representative</h6>
        <h4>20</h4>
      </div>
    </div>
  </div>
  <div class="d-flex col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12 m-2">
    <div class="shadow first"></div>
    <div class="shadow second">
      <div class="m-2">
        <h6>Self Help Group</h6>
        <h4>20</h4>
      </div>
    </div>
  </div>
  <div class="d-flex col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12 m-2">
    <div class="shadow first"></div>
    <div class="shadow second">
      <div class="m-2">
        <h6>Advocate</h6>
        <h4>20</h4>
      </div>
    </div>
  </div>
  <div class="d-flex col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12 m-2">
    <div class="shadow first"></div>
    <div class="shadow second">
      <div class="m-2">
        <h6>Buisnessmen</h6>
        <h4>20</h4>
      </div>
    </div>
  </div>
  <div class="d-flex col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12 m-2">
    <div class="shadow first"></div>
    <div class="shadow second">
      <div class="m-2">
        <h6>Retired Teacher</h6>
        <h4>20</h4>
      </div>
    </div>
  </div>
  <div class="d-flex col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12 m-2">
    <div class="shadow first"></div>
    <div class="shadow second">
      <div class="m-2">
        <h6>Teachers</h6>
        <h4>20</h4>
      </div>
    </div>
  </div>
  <div class="d-flex col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12 m-2">
    <div class="shadow first"></div>
    <div class="shadow second">
      <div class="m-2">
        <h6>Labour</h6>
        <h4>20</h4>
      </div>
    </div>
  </div>
  <div class="d-flex col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12 m-2">
    <div class="shadow first"></div>
    <div class="shadow second">
      <div class="m-2">
        <h6>Social Leader</h6>
        <h4>20</h4>
      </div>
    </div>
  </div>
  <div class="d-flex col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12 m-2">
    <div class="shadow first"></div>
    <div class="shadow second">
      <div class="m-2">
        <h6>Religious Leader</h6>
        <h4>20</h4>
      </div>
    </div>
  </div>
  <div class="d-flex col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12 m-2">
    <div class="shadow first"></div>
    <div class="shadow second">
      <div class="m-2">
        <h6>Doctor</h6>
        <h4>20</h4>
      </div>
    </div>
  </div>
  <div class="d-flex col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12 m-2">
    <div class="shadow first"></div>
    <div class="shadow second">
      <div class="m-2">
        <h6>Social Worker</h6>
        <h4>20</h4>
      </div>
    </div>
  </div>
  <div class="d-flex col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12 m-2">
    <div class="shadow first"></div>
    <div class="shadow second">
      <div class="m-2">
        <h6>Asha Worker</h6>
        <h4>20</h4>
      </div>
    </div>
  </div>
  <div class="d-flex col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12 m-2">
    <div class="shadow first"></div>
    <div class="shadow second">
      <div class="m-2">
        <h6>Aanganwadi</h6>
        <h6 style="font-size: 25px; font-weight: bold;">20</h6>
      </div>
    </div>
  </div>
  <div class="d-flex col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12 m-2">
    <div class="shadow first"></div>
    <div class="shadow second">
      <div class="m-2">
        <h6>Home Makers</h6>
        <h4>20</h4>
      </div>
    </div>
  </div>
  <div class="d-flex col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12 m-2">
    <div class="shadow first"></div>
    <div class="shadow second">
      <div class="m-2">
        <h6>Student</h6>
        <h4>20</h4>
      </div>
    </div>
  </div>
  <div class="d-flex col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12 m-2">
    <div class="shadow first"></div>
    <div class="shadow second">
      <div class="m-2">
        <h6>Former</h6>
        <h4>20</h4>
      </div>
    </div>
  </div>
  <div class="d-flex col-lg-2 col-md-3 col-sm-4 col-xs-5 col-12 m-2">
    <div class="shadow first"></div>
    <div class="shadow second">
      <div class="m-2">
        <h6>Other</h6>
        <h4>20</h4>
      </div>
    </div>
  </div>

</div>


